.section{
    background-color: #b767ff;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
