.AuthSection{
    background-image: url(https://images8.alphacoders.com/136/thumb-1920-1369908.jpeg);
    background-size: cover;
    height: 93vh;
    display: flex;
    justify-content: center;
}
.FormSection{
    display: flex;
    justify-content: center;


    background-color: #ffdbc3;
    width: 24vw;
    height: 45vh;
    margin-top: 12vh;
    border-radius: 15px;
    border: solid 2px #f35f3e;
}