.header{
    background-color: #8eaf9c;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
}
.font{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.font:hover{
    color: red;
}