.counts{
    background-color: #bdbdbd;
    font-size: 26px;
}
.buttonReturn{
    background-color: #fc6a6a;
    width: 160px;
    font-size: 26px;
}
.buttonAdd{
    background-color: #c3ff92;
    width: 160px;
    font-size: 26px;
}