.mainSection{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffdbc3;
}
.button{
    border-radius: 15px;
    border: solid 2px #41173f;
    background-color: #8a0139;
    color: #ffdbc3;
    font-size: 16px;
}
.button:active{
    background-color: #fe7f4a;
    color: #8a0139;;
}